In [1]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:
stops = stopwords.words("english")

tfidf = TfidfVectorizer(
    max_features=10000,
    analyzer="word", # анализировать по словам или по символам (char)
    stop_words=stops
)

In [8]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [10]:
df = pd.read_csv("for_Alina_new.csv")

In [11]:
df.head(3)

   Release Year  ...                                             FinLem
0          1901  ...  bartender working saloon serving drink custome...
1          1901  ...  moon painted smiling face hang park night youn...
2          1901  ...  film minute long composed two shot first girl ...

[3 rows x 10 columns]

In [16]:
articles_tfidf = tfidf.fit_transform(df["FinLem"])
print(f"Матрица на {articles_tfidf.shape[0]} документов и {articles_tfidf.shape[1]} термов")

Матрица на 34886 документов и 10000 термов

In [17]:
X = articles_tfidf.todense()
pca = PCA(n_components=1).fit_transform(X)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:598: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  FutureWarning,

In [19]:
df["tfidf"] = pca

In [24]:
df.to_csv("plots_with_tfidf.csv", index=None)

In [25]:
df.drop(columns = ['Lem'],axis = 1, inplace=True)

In [34]:
df.head(1)

   Release Year  ...     tfidf
0          1901  ... -0.046329

[1 rows x 10 columns]

In [52]:
import sqlite3
con = sqlite3.connect('plots.db')  # подключение
cur = con.cursor()  # курсор

In [53]:
cur.execute("""
CREATE TABLE plots (
    Release_Year INT, 
    Title TEXT, 
    Origin_Ethnicity TEXT,
    Director TEXT,
    Cast TEXT,
    Genre TEXT,
    Wiki_Page TEXT,
    Plot TEXT,
    FinLem TEXT,
    tfidf INT
)
""")
con.commit()

In [54]:
df.shape

(34886, 10)

In [55]:
for i in range(1,34886):
    if i % 1000 == 0:
        print(str(i))
    cur.execute("INSERT INTO plots VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
                df.loc[i])
    con.commit()

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000