In [2]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv("plots_with_tfidf.csv")

In [5]:
df.drop(columns = ['Lem'],axis = 1, inplace=True)

In [6]:
df.head(3)

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot,FinLem,tfidf
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr...",bartender working saloon serving drink custome...,-0.046329
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov...",moon painted smiling face hang park night youn...,-0.020844
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed...",film minute long composed two shot first girl ...,-0.041631

In [7]:
con = sqlite3.connect('alive_plots.db')  # подключение
cur = con.cursor()  # курсор

In [8]:
cur.execute("""
CREATE TABLE plots (
    Release_Year INT, 
    Title TEXT, 
    Origin_Ethnicity TEXT,
    Director TEXT,
    Cast TEXT,
    Genre TEXT,
    Wiki_Page TEXT,
    Plot TEXT,
    FinLem TEXT,
    tfidf INT
)
""")
con.commit()

In [9]:
for i in range(1,34886):
    if i % 1000 == 0:
        print(str(i))
    cur.execute("INSERT INTO plots VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)", 
                df.loc[i])
    con.commit()

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000

In [27]:
query = """
SELECT tfidf
FROM plots
WHERE Title = ?
"""
cur.execute(query, ('Love by the Light of the Moon',))
tfidf_score = cur.fetchall()[0][0]

In [28]:
mini = tfidf_score - 0.0001
maxi = tfidf_score + 0.0001

In [29]:
query2 = """
SELECT Title
FROM plots
WHERE ? > tfidf AND tfidf > ?
"""
cur.execute(query2, (maxi, mini))
cur.fetchall()

[('Love by the Light of the Moon',),
 ('The Frozen North',),
 ('Manslaughter',),
 ('Stop That Man!',),
 ('Journal of a Crime',),
 ('Marked Woman',),
 ('The Bank Dick',),
 ('Hold Back the Dawn',),
 ('Mister Bug Goes to Town',),
 ('Mr. Bug Goes to Town',),
 ('Crossroads',),
 ('The Phantom',),
 ('Enter Arsène Lupin',),
 ('The Sound of Fury',),
 ('Summer Stock',),
 ('The Eddie Cantor Story',),
 ('The Tattered Dress',),
 ("All in a Night's Work",),
 ('Hercules in the Haunted World',),
 ('The Ring of Terror',),
 ('Shock Corridor',),
 ('The Fat Spy',),
 ('More Dead Than Alive',),
 ('More Dead Than Alive',),
 ("Party at Kitty and Stud's",),
 ('Oklahoma Crude',),
 ('Bring Me the Head of Alfredo Garcia',),
 ('The Gravy Train',),
 ('Wise Blood',),
 ('Schizoid',),
 ('All the Right Moves',),
 ('Better Late Than Never',),
 ('My Tutor',),
 ('Slaves of New York',),
 ('The People vs. Larry Flynt',),
 ("Pinocchio's Revenge",),
 ('Bounce',),
 ('Unbreakable',),
 ('Frailty',),
 ('Beauty Shop',),
 ('The 8th Plague',),
 ('Confessions of a Shopaholic',),
 ('Shrink',),
 ('Dead Awake',),
 ('Maladies (2012 film)',),
 ('Mirror Mirror',),
 ('Grudge Match',),
 ('Sweetwater',),
 ('Macbeth',),
 ('The Prisoner of Corbal',),
 ('A Run for Your Money',),
 ('Beat Girl',),
 ('Mr. Topaze',),
 ('A Weekend with Lulu',),
 ('Operation Snatch',),
 ('Holiday on the Buses',),
 ('Happy Birthday to Me',),
 ('Mesmer',),
 ('The Triplets of Belleville (Les Triplettes de Belleville)',),
 ('Wild Run: The Legend (Chasse-Galerie: La Légende)',),
 ('The Wasted Times',),
 ('Satan Returns',),
 ('Bad Blood',),
 ('Anumanaspadam',),
 ('Kanto Wanderer',),
 ('Cat, The !The Cat',)]